@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
    background-color: black;
}

a{
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 20px;
}

a:hover{
    text-decoration: underline;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.627);
    background-color: rgb(109, 1, 1);
}